In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv("spam.csv")
df.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [6]:
df['spam'] = df['Category'].apply(lambda x: 1 if x=='spam' else 0 )
df.head()

  Category                                            Message  spam
0      ham  Go until jurong point, crazy.. Available only ...     0
1      ham                      Ok lar... Joking wif u oni...     0
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...     1
3      ham  U dun say so early hor... U c already then say...     0
4      ham  Nah I don't think he goes to usf, he lives aro...     0

In [9]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(df.Message, df.spam, test_size=0.2)

In [22]:
from sklearn.feature_extraction.text import CountVectorizer

v = CountVectorizer()

x_train_cv = v.fit_transform(x_train.values)
x_train_cv.toarray()[:2][0]

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [14]:
x_train_np = x_train_cv.toarray()
x_train_np[0]

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [16]:
from sklearn.naive_bayes import MultinomialNB

md = MultinomialNB()
md.fit(x_train_cv,y_train)

MultinomialNB()

In [20]:
x_test_cv = v.transform(x_test)
x_test

1001                              No..but heard abt tat..
2351                 You will be in the place of that man
1294     Happy birthday... May all ur dreams come true...
2152    I surely dont forgot to come:)i will always be...
2290    Had your mobile 11mths ? Update for FREE to Or...
                              ...
44      Great! I hope you like your man well endowed. ...
542     A famous quote : when you develop the ability ...
2696    And whenever you and i see we can still hook u...
2405    Please give it 2  or i will pick it up on Tues...
1443               Its ok., i just askd did u knw tht no?
Name: Message, Length: 1115, dtype: object

In [23]:
from sklearn.metrics import classification_report

y_pred = md.predict(x_test_cv)

print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.99      0.99      0.99       968
           1       0.96      0.92      0.94       147

    accuracy                           0.98      1115
   macro avg       0.98      0.96      0.97      1115
weighted avg       0.98      0.98      0.98      1115

In [24]:
## THE OTHER WAY

In [25]:
from sklearn.pipeline import Pipeline

clf = Pipeline([
    ('vectorizer', CountVectorizer()),
    ('nb', MultinomialNB())
])

In [26]:
clf.fit(X_train, y_train)
y_pred = clf.predict(X_test)

print(classification_report(y_test, y_pred))

NameError: name 'X_train' is not defined